.root {
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    margin-top: 20rem;
}
.div_tareas {
    width: 90%;
    height: 6rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2rem;


    display: flex;
    justify-content: space-between;
}