.root {
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    margin-top: 10rem;
}
.div_tareas {
    width: 100%;
    height: 6rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2rem;

    display: flex;
    justify-content: space-between;
}
.botones {
    width: 100%;
    display: flex;
    justify-content: end;
}
.btn_mas {
    width: 5rem;
    height: 5rem;
    background-color: blueviolet;
    color: white;
    font-size: 4rem;
    font-weight: 900;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn_mas:hover {
    font-size: 4.5rem;
    transition: 0.3s;

}
.list_tareas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.formulario {
    width: 60%;
    height: 50vmax;
    background-color: rgba(110, 105, 105, 0.563);
    position: absolute;
    top: 10rem;
    left: 10rem;
    display: none;
}
.div_formulario {
    background-color: aqua;
    height: 5rem;
    padding: 1rem;
}
.div_formulario input {
    height: 3rem;
}
.div_controles {
    width: 5rem;
    height: 5rem;
    background-color: rgb(43, 0, 255);
    font-size: 4rem;
    position: absolute;
    top: 0;
    left: 20rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.ocultar{
    display: none;
}
.activar_b {
    display: block;
}
.activar_f {
    display: flex;
}
.activar_g {
    display: grid;
}